
services:
  traefik:
    image: "traefik"
    restart: always
    command:
      - "--api=true"
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.web.http.redirections.entryPoint.to=websecure"
      - "--entrypoints.web.http.redirections.entrypoint.scheme=https"
      - "--entrypoints.websecure.address=:443"
      - "--certificatesresolvers.mytlschallenge.acme.tlschallenge=true"
      - "--certificatesresolvers.mytlschallenge.acme.email=${SSL_EMAIL}"
      - "--certificatesresolvers.mytlschallenge.acme.storage=/letsencrypt/acme.json"
    ports:
      - "8880:80"
      - "8443:443"
    volumes:
      - ./traefik_data:/letsencrypt
      - ./docker.sock:/var/run/docker.sock:ro

  n8n:
    image: docker.n8n.io/n8nio/n8n
    restart: always
    ports:
      - "0.0.0.0:8899:5678"
    labels:
      - traefik.enable=true
      - traefik.http.routers.n8n.rule=Host(`${SUBDOMAIN}.${DOMAIN_NAME}`)
      - traefik.http.routers.n8n.tls=true
      - traefik.http.routers.n8n.entrypoints=web,websecure
      - traefik.http.routers.n8n.tls.certresolver=mytlschallenge
      - traefik.http.middlewares.n8n.headers.SSLRedirect=true
      - traefik.http.middlewares.n8n.headers.STSSeconds=315360000
      - traefik.http.middlewares.n8n.headers.browserXSSFilter=true
      - traefik.http.middlewares.n8n.headers.contentTypeNosniff=true
      - traefik.http.middlewares.n8n.headers.forceSTSHeader=true
      - traefik.http.middlewares.n8n.headers.SSLHost=${DOMAIN_NAME}
      - traefik.http.middlewares.n8n.headers.STSIncludeSubdomains=true
      - traefik.http.middlewares.n8n.headers.STSPreload=true
      - traefik.http.routers.n8n.middlewares=n8n@docker
    environment:
      # - NODE_ENV=production
      # - WEBHOOK_URL=https://${SUBDOMAIN}.${DOMAIN_NAME}/
      # - WEBHOOK_URL=http://192.168.1.47:5678/

      - N8N_HOST=${DOMAIN_NAME}
      - N8N_PORT=5678
      - N8N_PROTOCOL=http           # ใช้ http เพื่อให้เข้าทาง IP ได้
      - N8N_SECURE_COOKIE=false     # ปิดเพื่อให้เข้าผ่าน IP (Non-HTTPS) ได้
      - WEBHOOK_URL=https://${SUBDOMAIN}.${DOMAIN_NAME}/ # แต่ส่งออก Webhook เป็น HTTPS เสมอ
      - GENERIC_TIMEZONE=Asia/Bangkok
      - TZ=Asia/Bangkok
    # user: "${UID}:${GID}" # หรือใช้ "root" เพื่อตัดปัญหาเรื่องสิทธิ์ (แต่ไม่แนะนำในแง่ความปลอดภัย)
    # sudo chown -R 1000:1000 /home/ubuntu/n8n-deploy/n8n_data
    # sudo chown -R 1000:1000 ./n8n_data


# ในหน้าตั้งค่าของ Cloudflare SSL/TLS settings: 
# ให้เลือกเป็นโหมด "Flexible" (Cloudflare คุยกับ n8n เป็น http แต่คุยกับ User เป็น https)

    volumes:
      - ./n8n_data:/home/node/.n8n
      - ./local-files:/files
